@import "mixins/mixins";
@import "common/var";

@include b(backtop) {
  position: fixed;
  background: $--background-primary-color;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  z-index: 5;
  font-weight: 500;
  color: #FFFFFF;
  box-shadow: $--box-shadow-light-1;

  i {
    font-size: 20px;
    color: $--color-primary;
  }

  &:hover {
    i {
      color: $--color-primary-hover;
    }
  }

  &:active {
    i {
      color: $--color-primary-pressed;
    }
  }
}
