@import "mixins/mixins";
@import "common/var";

@include b(card) {
  border-radius: $--card-border-radius;
  background-color: $--color-neutral;
  overflow: hidden;
  color: $--color-text-primary;
  transition: 0.3s;
  font-size: $--font-size-base;
  padding: 0 12px 12px 12px;
  box-sizing: border-box;

  @include when(always-shadow) {
    box-shadow: $--box-shadow-light;
  }

  @include when(hover-shadow) {
    &:hover,
    &:focus {
      box-shadow: $--box-shadow-light;
    }
  }

  @include e(header) {
    padding: 6px 0;
    font-size: $--font-size-bigger;
    box-sizing: border-box;
    font-weight: 600;
  }
  @include e(body) {
    border-radius: $--card-border-radius;
  }
}
