@import "mixins/mixins";
@import "common/var";
@import "./popper";

@include b(popover) {
  position: absolute;
  background: $--popover-background-color;
  min-width: 150px;
  border-radius: 4px;
  z-index: $--index-popper;
  color: $--color-text-regular;
  line-height: 1.4;
  text-align: justify;
  font-size: $--popover-font-size;
  box-shadow: $--box-shadow-light-1;
  word-break: break-all;

  //@include m(plain) {
  //  padding: $--popover-padding-large;
  //}

  @include e(title) {
    color: $--popover-title-font-color;
    font-size: $--popover-title-font-size;
    line-height: 18px;
    font-weight: 600;
    padding: 7px 12px;
    border-bottom: 1px solid $--border-color-normal;
  }

  @include e(content) {
    color: $--popover-title-font-color;
    font-size: $--popover-title-font-size;
    line-height: 20px;
    padding: 12px;
    padding-top: 8px;
  }

  @include e(reference) {
    &:focus:not(.focusing), &:focus:hover {
      outline-width: 0;
    }
  }

  &:focus:active, &:focus {
    outline-width: 0;
  }

  // 修改Popconfirm 气泡确认框的样式
  &.gj-popconfirm__popover {
    .gj-popover__content {
      padding: 0;
    }
  }
}
