@import "mixins/mixins";
@import "common/var";

@include b(radio-group) {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  font-size: 0;

  @include when(plain) {
    .gj-radio-button__orig-radio:checked + .gj-radio-button__inner {
      background-color: unset;
      color: $--color-primary;
    }
    .gj-radio-button__inner {
      &:hover {
        border-color: $--color-primary;
        background-color: unset;
        color: $--color-primary;
        box-shadow: -1px 0 0 0 $--color-primary;
      }
    }
  }
}
