@import "mixins/mixins";
@import "mixins/utils";
@import "input-number";
@import "tooltip";
@import "common/var";

@include b(slider) {
  padding: 0 30px;

  @include utils-clearfix;

  @include e(runway) {
    width: 100%;
    height: $--slider-height;
    margin: $--slider-margin;
    background-color: $--slider-runway-background-color;
    border-radius: $--slider-border-radius;
    position: relative;
    cursor: pointer;
    vertical-align: middle;

    &.show-input {
      margin-right: 160px;
      width: auto;
    }

    &.disabled {
      cursor: default;

      .jy-slider__bar {
        background-color: $--slider-disable-color;
      }

      .jy-slider__button {
        border-color: $--slider-disable-color;
      }

      .jy-slider__button-wrapper {
        &:hover,
        &.hover {
          cursor: not-allowed;
        }

        &.dragging {
          cursor: not-allowed;
        }
      }

      .jy-slider__button {
        &:hover,
        &.hover,
        &.dragging {
          transform: scale(1);
        }

        &:hover,
        &.hover {
          cursor: not-allowed;
        }

        &.dragging {
          cursor: not-allowed;
        }
      }

      .jy-slider__stop{
        // background-color: $--slider-runway-background-color;
        &-selected{
          background-color: $--slider-disable-color;
        }
      }
    }
  }

  @include e(input) {
    float: right;
    margin-top: 3px;
    width: 130px;

    &.jy-input-number--mini {
      margin-top: 5px;
    }

    &.jy-input-number--medium {
      margin-top: 0;
    }

    &.jy-input-number--large {
      margin-top: -2px;
    }
  }

  @include e(bar) {
    height: $--slider-height;
    background-color: $--slider-main-background-color;
    border-top-left-radius: $--slider-border-radius;
    border-bottom-left-radius: $--slider-border-radius;
    position: absolute;
  }

  @include e(button-wrapper) {
    height: $--slider-button-wrapper-size;
    width: $--slider-button-wrapper-size;
    position: absolute;
    z-index: 1001;
    top: $--slider-button-wrapper-offset;
    // transform: translateX(-50%);
    transform: translate(-50%, 30%);

    background-color: transparent;
    text-align: center;
    user-select: none;
    line-height: normal;
    @include utils-vertical-center;

    .jy-tooltip {
      vertical-align: middle;
      display: inline-block;
    }

    &:hover,
    &.hover {
      cursor: grab;
    }

    &.dragging {
      cursor: grabbing;
    }
  }

  @include e(button) {
    width: $--slider-button-size;
    height: $--slider-button-size;
    border: solid 2px $--slider-main-background-color;
    background-color: $--slider-button-background-color;
    border-radius: 50%;
    transition: .2s;
    user-select: none;

    &:hover,
    &.hover,
    &.dragging {
      transform: scale(1.2);
      box-shadow: $--rate-circle-box-shadow;
    }

    &:hover,
    &.hover {
      cursor: grab;
    }

    &.dragging {
      cursor: grabbing;
      border-color: $--color-primary-pressed;

    }
    &:hover{
      border-color: $--color-primary-hover;
    }
  }

  @include e(stop) {
    position: absolute;
    height: 4px;
    width: $--slider-height;
    border-radius: 1px 1px 0 0 ;
    background-color: $--slider-runway-background-color;
    transform: translate(-50%, -100%);
    &-selected{
      background-color:  $--color-primary;
    }

  }
  @include e(start){
    position: absolute;
    top: -8px;
    left: -16px;
    color: $--color-text-regular;
    font-size: 14px;
  }
  @include e(end){
    position: absolute;
    top: -8px;
    right: -24px;
    color: $--color-text-regular;
    font-size: 14px;
  }

  @include e(marks) {
    top: 0;
    left: 12px;
    width: 18px;
    height: 100%;

    &-stop{
      position: absolute;
      height: $--slider-height;
      width: $--slider-height;
      border-radius: $--border-radius-circle;
      background-color: $--slider-stop-background-color;
      transform: translateX(-50%);
    }

    @include e(marks-text) {
      position: absolute;
      transform: translateX(-50%);
      font-size: 14px;
      color: $--color-text-regular;
      margin-top: 15px;
    }

  }

  @include when(vertical) {
    position: relative;
    .jy-slider__runway {
      width: $--slider-height;
      height: 100%;
      margin: 0 16px;
    }
    .jy-slider__bar {
      width: $--slider-height;
      height: auto;
      border-radius: 0 0 3px 3px;
    }
    .jy-slider__button-wrapper {
      top: auto;
      left: $--slider-button-wrapper-offset;
      // transform: translateY(50%);
      transform: translate(30%, 50%);

    }
    .jy-slider__stop {
      transform: translateY(50%);
    }
    &.jy-slider--with-input {
      padding-bottom: #{$--input-medium-height + 22px};
      .jy-slider__input {
        overflow: visible;
        float: none;
        position: absolute;
        bottom: 22px;
        width: 36px;
        margin-top: 15px;
        .jy-input__inner {
          text-align: center;
          padding-left: 5px;
          padding-right: 5px;
        }
        .jy-input-number__decrease,
        .jy-input-number__increase
        {
          top: $--input-large-height;
          margin-top: -1px;
          border: $--input-border;
          line-height: 20px;
          box-sizing: border-box;
          transition: $--border-transition-base;
        }
        .jy-input-number__decrease {
          width: 18px;
          right: 18px;
          border-bottom-left-radius: $--input-border-radius;
        }
        .jy-input-number__increase {
          width: 19px;
          border-bottom-right-radius: $--input-border-radius;
          & ~ .jy-input .jy-input__inner {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
        &:hover {
          .jy-input-number__decrease,
          .jy-input-number__increase
          {
            border-color: $--input-hover-border;
          }
        }
        &:active {
          .jy-input-number__decrease,
          .jy-input-number__increase
          {
            border-color: $--input-focus-border;
          }
        }
      }
    }

    @include e(marks-text) {
      margin-top: 0;
      left: 15px;
      transform: translateY(50%);
    }
  }
}
