@import 'mixins/mixins';
@import 'common/var';

$--timeline-turns: calc(50% + 22px);
$--timeline-text-to-border: 22px;
$--timeline-line-to-node: 1.5px;

$--timeline-turns-tail: calc(50% + 1.5px);
$--timeline-turns-node: calc(50% - 1px);
$--timeline-turns-node--has-icon: calc(50% - 6px);

@include b(timeline) {
  margin: 0;
  font-size: $--font-size-base;
  list-style: none;
  box-sizing: border-box;

  & .gj-timeline-item:last-child {
    & .gj-timeline-item__tail {
      display: none;
    }
  }

  @include e(left) {
    .gj-timeline-item {
      .gj-timeline-item__tail {
        left: $--timeline-line-to-node;
        top: 10px;
        height: calc(100% - 14px);
        border-left: 1px solid $--border-color-base;
        &--dashed {
          border-left-style: dashed;
        }
      }
      .gj-timeline-item__node--normal,
      .gj-timeline-item__node--large {
        left: $--timeline-node-left-normal;
      }
      .gj-timeline-item__node--has-icon {
        left: $--timeline-node-left-has-icon;
      }
      .gj-timeline-item__wrapper {
        padding-left: $--timeline-text-to-border;
        text-align: left;
      }
    }
    // 时间左右
    .gj-timeline-item__time-left-right {
      .gj-timeline-item__tail {
        left: $--timeline-turns-tail;
        right: unset;
      }
      .gj-timeline-item__node--normal,
      .gj-timeline-item__node--large {
        left: $--timeline-turns-node;
      }
      .gj-timeline-item__node--has-icon {
        left: $--timeline-turns-node--has-icon;
      }
      .gj-timeline-item__content {
        position: absolute;
        top: -7px;
        &.is-left {
          left: $--timeline-turns;
        }
        &.is-right {
          right: $--timeline-turns;
        }
      }
      .gj-timeline-item__timestamp {
        position: absolute;
        top: -3px;
        &.is-left {
          right: $--timeline-turns;
        }
        &.is-right {
          left: $--timeline-turns;
        }
      }
      &:nth-child(2n) {
        .gj-timeline-item__content.is-turn {
          right: $--timeline-turns;
        }
        .gj-timeline-item__timestamp.is-turn {
          left: $--timeline-turns;
        }
      }
      &:nth-child(2n-1) {
        .gj-timeline-item__content.is-turn {
          left: $--timeline-turns;
        }
        .gj-timeline-item__timestamp.is-turn {
          right: $--timeline-turns;
        }
      }
    }

    &.is-turns {
      .gj-timeline-item {
        .gj-timeline-item__tail {
          left: $--timeline-turns-tail;
        }
        .gj-timeline-item__node--normal,
        .gj-timeline-item__node--large {
          left: $--timeline-turns-node;
        }
        .gj-timeline-item__node--has-icon {
          left: $--timeline-turns-node--has-icon;
        }
      }
      .gj-timeline-item:nth-child(2n) {
        .gj-timeline-item__wrapper {
          padding-left: $--timeline-turns;
          text-align: left;
        }
      }
      .gj-timeline-item:nth-child(2n-1) {
        .gj-timeline-item__wrapper {
          padding-right: $--timeline-turns;
          text-align: right;
        }
      }
    }
  }

  @include e(right) {
    .gj-timeline-item {
      .gj-timeline-item__tail {
        right: $--timeline-line-to-node;
        // border: none;
        // border-right: 1px solid $--border-color-base;
        top: 10px;
        height: calc(100% - 14px);
        border-right: 1px solid $--border-color-base;
        &--dashed {
          border-right-style: dashed;
        }
      }
      .gj-timeline-item__node--normal,
      .gj-timeline-item__node--large {
        right: $--timeline-node-left-normal;
      }
      .gj-timeline-item__node--has-icon {
        right: $--timeline-node-left-has-icon;
      }
      .gj-timeline-item__wrapper {
        padding-right: $--timeline-text-to-border;
        text-align: right;
      }
    }
    @include when(turns) {
      .gj-timeline-item__tail {
        right: unset;
      }
    }
    // 时间左右
    .gj-timeline-item__time-left-right {
      .gj-timeline-item__tail {
        left: $--timeline-turns-tail;
        right: unset;
      }
      .gj-timeline-item__node--normal,
      .gj-timeline-item__node--large {
        left: $--timeline-turns-node;
      }
      .gj-timeline-item__node--has-icon {
        left: $--timeline-turns-node--has-icon;
      }
      .gj-timeline-item__content {
        position: absolute;
        top: -7px;
        &.is-left {
          left: $--timeline-turns;
        }
        &.is-right {
          right: $--timeline-turns;
        }
      }
      .gj-timeline-item__timestamp {
        position: absolute;
        top: -3px;
        &.is-left {
          right: $--timeline-turns;
        }
        &.is-right {
          left: $--timeline-turns;
        }
      }
      &:nth-child(2n) {
        .gj-timeline-item__content.is-turn {
          right: $--timeline-turns;
        }
        .gj-timeline-item__timestamp.is-turn {
          left: $--timeline-turns;
        }
      }
      &:nth-child(2n-1) {
        .gj-timeline-item__content.is-turn {
          left: $--timeline-turns;
        }
        .gj-timeline-item__timestamp.is-turn {
          right: $--timeline-turns;
        }
      }
    }

    &.is-turns {
      .gj-timeline-item {
        .gj-timeline-item__tail {
          left: $--timeline-turns-tail;
        }
        .gj-timeline-item__node--normal,
        .gj-timeline-item__node--large {
          left: $--timeline-turns-node;
        }
        .gj-timeline-item__node--has-icon {
          left: $--timeline-turns-node--has-icon;
        }
      }
      .gj-timeline-item:nth-child(2n) {
        .gj-timeline-item__wrapper {
          padding-left: $--timeline-turns;
          text-align: left;
        }
      }
      .gj-timeline-item:nth-child(2n-1) {
        .gj-timeline-item__wrapper {
          padding-right: $--timeline-turns;
          text-align: right;
        }
      }
    }
  }

  @include e(top) {
    display: flex;
    .gj-timeline-item {
      padding-bottom: $--timeline-text-to-border;
      .gj-timeline-item__tail {
        bottom: $--timeline-line-to-node;

        left: 10px;
        width: calc(100% - 14px);
        border-bottom: 1px solid $--border-color-base;
        &--dashed {
          border-bottom-style: dashed;
        }
      }

      .gj-timeline-item__node--normal,
      .gj-timeline-item__node--large {
        bottom: $--timeline-node-left-normal;
      }

      .gj-timeline-item__node--has-icon {
        // top: 50px;
        bottom: $--timeline-node-left-has-icon;
      }

      .gj-timeline-item__wrapper {
        padding-right: 32px;
        top: 0px;
      }
    }

    &.is-turns {
      .gj-timeline-item {
        padding-bottom: 0;
        .gj-timeline-item__tail {
          top: 2px;
          left: 10px;
          width: calc(100% - 14px);
          bottom: unset;
          border: none;
          border-top: 1px solid $--border-color-base;
          &--dashed {
            border-top-style: dashed;
          }
        }

        .gj-timeline-item__node--normal,
        .gj-timeline-item__node--large {
          bottom: unset;
        }

        .gj-timeline-item__node--has-icon {
          bottom: unset;
        }

        .gj-timeline-item__wrapper {
          padding-right: 32px;
          padding-top: $--timeline-text-to-border;
          top: 0px;
        }
      }

      // .gj-timeline-item {
      //   .gj-timeline-item__tail {
      //     top: calc(50% + 26.5px);
      //     bottom: unset;
      //   }
      //   .gj-timeline-item__node--normal,
      //   .gj-timeline-item__node--large {
      //     top: calc(50% + 24px);
      //     bottom: unset;
      //   }
      //   .gj-timeline-item__node--has-icon {
      //     // top: calc(50% - 10px);
      //     top: calc(50% - 2px);
      //     bottom: unset;
      //   }
      // }
      // .gj-timeline-item:nth-child(2n) {
      //   .gj-timeline-item__wrapper {
      //     padding-top: 0;
      //   }
      // }
      // .gj-timeline-item:nth-child(2n-1) {
      //   .gj-timeline-item__wrapper {
      //     top: calc(50% + 56px);
      //   }
      // }
    }
  }
  @include e(bottom) {
    display: flex;
    .gj-timeline-item {
      .gj-timeline-item__tail {
        top: 2px;
        left: 10px;
        width: calc(100% - 14px);
        border-top: 1px solid $--border-color-base;
        &--dashed {
          border-top-style: dashed;
        }
      }

      .gj-timeline-item__wrapper {
        padding-right: 32px;
        padding-top: $--timeline-text-to-border;
        top: 0px;
      }
    }

    // &.is-turns {
    //   .gj-timeline-item {
    //     padding-bottom: $--timeline-text-to-border;
    //     .gj-timeline-item__tail {
    //       // top: calc(50% + 18px);
    //       top: calc(50% + 26.5px);
    //     }
    //     .gj-timeline-item__node--normal,
    //     .gj-timeline-item__node--large {
    //       // top: calc(50% + 16px);
    //       top: calc(50% + 24px);
    //     }
    //     .gj-timeline-item__node--has-icon {
    //       // top: calc(50% - 10px);
    //       top: calc(50% - 2px);
    //     }
    //   }
    //   .gj-timeline-item:nth-child(2n) {
    //     .gj-timeline-item__wrapper {
    //       top: calc(50% + 56px);
    //       padding-top: 0;
    //     }
    //   }
    //   .gj-timeline-item:nth-child(2n-1) {
    //     .gj-timeline-item__wrapper {
    //       padding-top: 0;
    //     }
    //   }
    // }
  }
}
