@import 'mixins/mixins';
@import 'common/var';
@import 'common/transition';
@import 'checkbox';

.is-draggStart {
  background-color: $--tree-node-hover-background-color;
  border-radius: 4px;

  // .gj-tree-node__content{
  //   margin-bottom: 0;
  // }
}
.is-draggEnd {
  background-color: $--color-neutral;
}

@include b(tree) {
  position: relative;
  cursor: default;
  background: transparent;
  color: $--tree-font-color;

  @include e(empty-block) {
    position: relative;
    min-height: 60px;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  @include e(empty-text) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $--color-text-secondary;
    font-size: $--font-size-base;
  }

  @include e(drop-indicator) {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $--color-primary;
  }
}

@include b(tree-node) {
  white-space: nowrap;
  outline: none;
  &:focus {
    /* focus */
    > .gj-tree-node__content:not(.is-disabled) {
      background-color: $--tree-node-hover-background-color;
    }
  }

  &.is-showCheckbox {
    .gj-tree-node__label {
      padding-left: 8px;
    }
  }

  @include when(drop-inner) {
    > .gj-tree-node__content .gj-tree-node__label {
      background-color: $--color-primary;
      color: #fff;
    }
  }

  @include e(content) {
    display: flex;
    align-items: center;
    height: 22px;
    cursor: pointer;
    margin-bottom: 4px;
    border-radius: $--border-radius-base;
    padding-right: 5px;
    padding-left: 4px;

    @include when(rightIcon) {
      > .gj-tree-node__label {
        flex: 1;
      }
    }

    @include when(disabled) {
      .gj-tree-node__label {
        color: $--color-text-disabled !important;
      }

      cursor: not-allowed;
      &:hover {
        background-color: transparent;
      }
    }

    &:hover {
      background-color: $--color-neutral-hover;
    }
    &:active,
    &:focus {
      background-color: $--color-neutral-pressed;
    }

    .gj-tree.is-dragging & {
      cursor: move;

      & * {
        pointer-events: none;
      }
    }

    .gj-tree.is-dragging.is-drop-not-allow & {
      cursor: not-allowed;
    }

    .gj-checkbox {
      margin-left: 8px;
      height: 22px;
      .gj-checkbox__input {
        padding: 4px 0;
      }
    }
  }

  @include e(expand-icon) {
    cursor: pointer;
    color: $--tree-expand-icon-color;
    font-size: $--font-size-medium;

    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;

    &.expanded {
      transform: rotate(90deg);
    }

    &.is-leaf {
      color: transparent;
      cursor: default;
    }
  }

  @include e(label) {
    font-size: $--font-size-base;
    padding: 0 8px;
  }

  @include e(loading-icon) {
    margin: 0 8px;
    font-size: $--font-size-base;
    color: $--color-primary;
  }

  .gj-tree-custom-leftIcon {
    margin-left: 8px;
    color: $--color-text-placeholder;
  }

  .gj-tree-custom-rightIcon {
    color: $--color-text-regular;
    &:hover,
    &:focus {
      color: $--color-primary-hover;
    }
    &:active {
      color: $--color-primary-pressed;
    }
  }

  & > .gj-tree-node__children {
    overflow: hidden;
    background-color: transparent;
  }

  &.is-expanded > .gj-tree-node__children {
    display: block;
  }
}

.gj-tree--highlight-current .gj-tree-node.is-current > .gj-tree-node__content {
  background: $--background-primary-color;
  color: $--color-primary;
  //.gj-tree-node__expand-icon {
  //  color: $--color-primary;
  //}
  .gj-tree-custom-leftIcon,
  .gj-tree-custom-rightIcon {
    color: $--color-primary;
  }
}
