.empty-box {
  display: flex;

  div {
    flex: 1;
  }

  .gj-empty__description {

    p {
      color: rgba(32, 32, 32, 0.45);
    }
  }

  &:last-of-type {
    justify-content: flex-start;
    margin-top: 20px;
    .gj-empty {
      width: 33.33%;
      flex: unset;
    }
  }
}
