.demo-icon {
  .source {
    button {
      margin: 0 20px;
    }

    .jy-row {
      .svg-icon {
        width: 24px;
        height: 24px;
        margin: 0 20px;
        vertical-align: middle;
      }
      i {
        color: #606266;
        margin: 0 20px;
        font-size: 1.5em;
        vertical-align: middle;
      }
    }
  }
}


.page-component .content > ul.icon-list {
  overflow: hidden;
  list-style: none;
  padding: 0!important;
  border: solid 1px #eaeefb;
  border-radius: 4px;
}
.svg-icon {
  width: 16px;
  height: 16px;
}
.icon-list li {
  float: left;
  width: 16.66%;
  text-align: center;
  height: 120px;
  line-height: 120px;
  color: #666;
  font-size: 13px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-right: -1px;
  margin-bottom: -1px;

  &::after {
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
      "Microsoft YaHei", SimSun, sans-serif;
    color: rgba(20,20,20, 0.45);
    transition: color 0.15s linear;
  }

  .svg-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
  }

  i {
    display: block;
    font-size: 24px;
    margin-bottom: 15px;
    color: rgba(20,20,20, 0.65);
    transition: color 0.15s linear;
  }

  .icon-name {
    display: inline-block;
    padding: 0 3px;
    height: 1em;
  }

  &:hover {
    span,
    i {
      color: #3F7FFF;
    }
  }
}
.jy-icon-list{
  li span i{
    display: block !important;
    font-size: 24px !important;
    margin-bottom: 15px ;
    transition: color 0.15s linear;
  }
}

.BlackTheme {
   .icon-list li {
    border-right: 1px solid #323232;
    border-bottom: 1px solid #323232;
    span {
      color: rgba(230, 230, 230, 0.45);
    }
    i {
      color: rgba(230, 230, 230, 0.65);
    }
    &:hover {
      span,
      i {
        color: mix(#FFFFFF, #F5BA63, 12%);
      }
    }
  }

  .page-component .content > ul.icon-list {
    border: solid 1px #323232;
  }
}