.demo-block.demo-menu {
  background-color: #F7F7F7;

  .gj-menu-vertical-demo {
    width: 160px;
  }
  .gj-menu-vertical-demo-last:not(.gj-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }

  .gj-menu-demo {
    padding-left: 55px;
  }
  .gj-menu-vertical-demo:not(.gj-menu--collapse) {
    width: 160px;
    min-height: 400px;
  }
  .line {
    height: 1px;
    background-color: #e0e6ed;
    margin: 35px -24px;
  }
  h5 {
    font-size: 14px;
    color: #8492a6;
    margin-top: 10px;
  }
  .tac {
    text-align: center;

    .gj-menu-vertical-demo {
      display: inline-block;
      text-align: left;
    }
  }
}
