.demo-block.demo-progress {
  .jy-progress--line {
    margin-bottom: 15px;
  }
  .jy-progress--circle {
    margin-right: 15px;
  }
  .div-flex{
    display: flex;
    justify-content: space-around;
  }
}
