.demo-block {
  &.demo-radio {
    .gj-radio.is-bordered + .gj-radio.is-bordered {
      margin-left: 0;
    }
  }
  .demo-radio-group {
    margin-bottom: 20px;
    .gj-radio-group {
      .gj-radio--large {
        &:first-of-type {
          margin-right: 35px;
        }
      }
      .gj-radio--medium {
        &:first-of-type {
          margin-right: 37px;
        }
      }
      .gj-radio--small {
        &:first-of-type {
          margin-right: 44px;
        }
      }
      .gj-radio--mini {
        &:first-of-type {
          margin-right: 44px;
        }
      }
    }
  }
}

