.demo-select  {
  .demo-flex{
    display: flex;
    align-items: center;
  }
  .gj-select{
    width: 220px;
  }
  .width-200 .gj-select{
    width: 200px;
  }
  .width-300 .gj-select{
    width: 300px;
  }
  .show-desc{
    font-size: 12px;
    margin: 15px 0;
    color: #202020;
  }
  .select-width-adation{
    margin-bottom: 10px;
    width: fit-content;
  }
  .select-flex{
    display: flex;
    align-items: center;
    .gj-select{
      width: 220px;
    }
  }
 
}
.gj-select-dropdown {
  .set-option-color{
    color: rgba(#202020,0.45) ;
    font-size: 13px ;
    margin-left: 12px ;
  }
}

.BlackTheme{
  .demo-select {
    .show-desc{
      color: #e6e6e6;
    }
    
  }
  .gj-select-dropdown{
    .set-option-color{
      color: rgba(#e6e6e6,0.45) ;
    }
  }
}
