.demo-tree-select{
    .tree-title{
        color: #202020;
        font-size: 12px;
        margin: 10px 0;
      }
    .tree .gj-tree-select{
        width: 240px;
    }
}

.BlackTheme{
    .tree-title{
      color: #e6e6e6;
    }
  }