/**Variable**/
@import './helpers/mixin.scss';

$btnThemeList: (
  (
    name: "primary",
    textColor: $gj-primary-color,
    btnColor: #fff,
    btnBackground: $gj-primary-color,
  ),
  (
    name: "success",
    textColor: $gj-success-color,
    btnColor: #fff,
    btnBackground: $gj-success-color
  ),
  (
    name: "info",
    textColor: $gj-info-color,
    btnColor: #fff,
    btnBackground: $gj-info-color
  ),
  (
    name: "warning",
    textColor: $gj-warning-color,
    btnColor: #fff,
    btnBackground: $gj-warning-color
  ),
  (
    name: "danger",
    textColor: $gj-danger-color,
    btnColor: #fff,
    btnBackground: $gj-danger-color
  ),
  (
    name: "perfect",
    textColor: $gj-table-header-background-color,
    btnColor: $gj-font-color,
    btnBackground: $gj-table-header-background-color
  )
);

.gj-table-button {
  position: relative;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $--background-color-white;
  border: $--border-base;
  border-color: $--border-color-base;
  color: $--color-text-regular;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: $--button-font-weight;

  @include animatTransition(border, .2s);
  &:not(.is--disabled) {
    color: $gj-font-color;
    cursor: pointer;
    .gj-table-button--icon {
      &.gj-table-icon--zoomin {
        border-color: $gj-font-color;
      }
    }
  }
  &.is--loading {
    cursor: progress;
    &:before {
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: hsla(0,0%,100%,.35);
      pointer-events: none;
    }
  }
  &.is--disabled {
    color: $gj-disabled-color;
    .gj-table-button--icon {
      &.gj-table-icon--zoomin {
        border-color: $gj-disabled-color;
      }
    }
    &:not(.is--loading) {
      cursor: no-drop;
    }
  }
  &.type--text {
    text-decoration: none;
    border: 0;
    padding: 0.1em 0.5em;
    background-color: transparent;
    &:not(.is--disabled) {
      &:focus {
        //box-shadow: 0 0 0.25em 0 $gj-primary-color;
      }
      &:hover {
        color: $gj-primary-color;
      }
    }
    @for $index from 0 to length($btnThemeList) {
      $item: nth($btnThemeList, $index + 1);
      $textColor: map-get($item, textColor);
      &.theme--#{map-get($item, name)} {
        color: $textColor;
        &:not(.is--disabled) {
          &:hover {
            color: $textColor;
          }
        }
        &.is--disabled {
          color: $textColor;
        }
      }
    }
  }
  &.type--button {
    font-family: inherit;
    height: $gj-button-height-default;
    line-height: 1;
    border: 1px solid $gj-input-border-color;
    &.is--round {
      border-radius: $gj-button-round-border-radius-default;
    }
    &:not(.is--round) {
      border-radius: $gj-border-radius;
    }
    &.is--circle {
      padding: 0 0.5em;
      min-width: $gj-button-height-default;
      border-radius: 50%;
    }
    &:not(.is--circle) {
      padding: 0 1em;
    }
    &:not(.is--disabled) {
      &:hover {
        color: $gj-primary-color;
        .gj-table-button--icon {
          &.gj-table-icon--zoomin {
            border-color: $gj-primary-color;
          }
        }
      }
      &:focus {
        border-color: $gj-primary-color;
       // box-shadow: 0 0 0.25em 0 $gj-primary-color;
      }
      &:active {
        color: $gj-primary-color;
        border-color: $gj-primary-color;
        background-color: $gj-button-default-background-color;
        .gj-table-button--icon {
          &.gj-table-icon--zoomin {
            background-color: $gj-button-default-background-color;
          }
          &.gj-table-icon--zoomout {
            &:after {
              background-color: $gj-button-default-background-color;
            }
          }
        }
      }
    }
    @for $index from 0 to length($btnThemeList) {
      $item: nth($btnThemeList, $index + 1);
      $btnColor: map-get($item, btnColor);
      $btnBackground: map-get($item, btnBackground);
      &.theme--#{map-get($item, name)} {
        color: $btnColor;
        .gj-table-button--icon {
          &.gj-table-icon--zoomin {
            border-color: $btnColor;
          }
        }
        &:not(.is--disabled) {
          border-color: $btnBackground;
          background-color: $btnBackground;
          &:hover {
            color: $btnColor;
            background-color: $btnBackground;
            border-color: $btnBackground;
            .gj-table-button--icon {
              &.gj-table-icon--zoomin {
                border-color: $btnBackground;
              }
            }
          }
          &:active {
            color: $btnColor;
            background-color: $btnBackground;
            border-color: $btnBackground;
            &.gj-table-icon--zoomin {
              background-color: $btnBackground;
            }
            &.gj-table-icon--zoomout {
              &:after {
                background-color: $btnBackground;
              }
            }
          }
        }
        &.is--disabled {
          border-color: $btnBackground;
          background-color: $btnBackground;
        }
        &.is--loading {
          border-color: $btnBackground;
          background-color: $btnBackground;
        }
      }
    }
  }
  &.size--medium {
    font-size: $gj-font-size-medium;
    &.type--button {
      height: $gj-button-height-medium;
      &.is--circle {
        min-width: $gj-button-height-medium;
      }
      &.is--round {
        border-radius: $gj-button-round-border-radius-medium;
      }
    }
    .gj-table-button--loading-icon,
    .gj-table-button--icon {
      min-width: $gj-font-size-medium;
    }
  }
  &.size--small {
    font-size: $gj-font-size-small;
    &.type--button {
      height: $gj-button-height-small;
      &.is--circle {
        min-width: $gj-button-height-small;
      }
      &.is--round {
        border-radius: $gj-button-round-border-radius-small;
      }
    }
    .gj-table-button--loading-icon,
    .gj-table-button--icon {
      min-width: $gj-font-size-small;
    }
  }
  &.size--mini {
    font-size: $gj-font-size-mini;
    &.type--button {
      height: $gj-button-height-mini;
      &.is--circle {
        min-width: $gj-button-height-mini;
      }
      &.is--round {
        border-radius: $gj-button-round-border-radius-mini;
      }
    }
    .gj-table-button--loading-icon,
    .gj-table-button--icon {
      min-width: $gj-font-size-mini;
    }
  }
}
.gj-table-input,
.gj-table-button {
  &+.gj-table-button,
  &+.gj-table-button--dropdown {
    margin-left: 12px;
  }
}
.gj-table-button--loading-icon,
.gj-table-button--icon {
  min-width: $gj-font-size;
  &+.gj-table-button--content {
    margin-left: 4px;
  }
}
.gj-table-button--wrapper,
.gj-table-button--dropdown {
  display: inline-block;
}
.gj-table-button--dropdown {
  position: relative;
  &+.gj-table-button,
  &+.gj-table-button--dropdown {
    margin-left: 12px;
  }
  & > .gj-table-button {
    &.type--button {
      @for $index from 0 to length($btnThemeList) {
        $item: nth($btnThemeList, $index + 1);
        $btnColor: map-get($item, btnColor);
        &.theme--#{map-get($item, name)} {
          color: $btnColor;
        }
      }
    }
  }
  &.is--active {
    & > .gj-table-button {
      &:not(.is--disabled) {
        color: $gj-primary-color;
      }
      &.type--text {
        @for $index from 0 to length($btnThemeList) {
          $item: nth($btnThemeList, $index + 1);
          $textColor: map-get($item, textColor);
          &.theme--#{map-get($item, name)} {
            color:$textColor;
          }
        }
      }
      &.type--button {
        @for $index from 0 to length($btnThemeList) {
          $item: nth($btnThemeList, $index + 1);
          $btnColor: map-get($item, btnColor);
          $btnBackground: map-get($item, btnBackground);
          &.theme--#{map-get($item, name)} {
            color: $btnColor;
            background-color: $btnBackground;
            border-color: $btnBackground;
          }
        }
      }
    }
    .gj-table-button--dropdown-arrow {
      transform: rotate(180deg);
    }
  }
}

.gj-table-button--dropdown-arrow {
  font-size: 12px;
  margin-left: 4px;
  @include animatTransition(transform, .2s);
}

.gj-table-button--dropdown-panel {
  display: none;
  position: absolute;
  right: 0;
  padding: 4px 0;
  &.animat--leave {
    display: block;
    opacity: 0;
    transform: scaleY(0.5);
    transition: transform .3s cubic-bezier(.23,1,.32,1), opacity .3s cubic-bezier(.23,1,.32,1);
    transform-origin: center top;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    &[placement="top"] {
      transform-origin: center bottom;
    }
  }
  &.animat--enter {
    opacity: 1;
    transform: scaleY(1);
  }
}
.gj-table-button--dropdown-wrapper {
  padding: 5px;
  background-color: $gj-button-dropdown-panel-background-color;
  border-radius: $gj-border-radius;
  border: 1px solid $gj-input-border-color;
  //box-shadow: 0 1px 6px rgba(0,0,0,.2);
  & > .gj-table-button {
    margin-left: 0;
    margin-top: 0.4em;
    display: block;
    width: 100%;
    border: 0;
    &.type--text {
      padding: 2px 8px;
    }
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
