/**Variable**/

.gj-table--footer-wrapper {
  color: $gj-table-footer-font-color;
  margin-top: -1px;
  &.body--wrapper{
    overflow-x: auto;
  }
}

.gj-footer--column {
  &.col--ellipsis {
    & > .gj-cell {
      display: flex;
      align-items: center;
      .gj-cell--item {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
