/**Variable**/
%ButtonHover {
  color: $gj-primary-color;
  border-color: $gj-primary-color;
}

.gj-table-form {
  position: relative;
  font-size: $gj-font-size;
  color: $gj-font-color;
  font-family: $gj-font-family;
  background-color: $gj-form-background-color;
  text-align: left;
}

.gj-table-form-slots {
  display: none;
}

.gj-table-form--item-content,
.gj-table-form--item-trigger-node {
  display: inline-block;
  vertical-align: middle;
}

.gj-table-form--item-title {
  display: flex;
  flex-direction: row;
  max-width: 320px;
  padding-right: 0.8em;
  &.is--ellipsis {
    .gj-table-form--item-title-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .gj-table-form--item-title-prefix,
  .gj-table-form--item-title-suffix,
  .gj-table-form--item-title-postfix {
    flex-shrink: 0;
  }
  .gj-table-form--item-title-prefix,
  .gj-table-form--item-title-suffix {
    cursor: help;
    vertical-align: middle;
    & > i {
      vertical-align: middle;
    }
  }
  .gj-table-form--item-title-prefix {
    margin-right: 0.25em;
  }
  .gj-table-form--item-title-suffix {
    margin-left: 0.2em;
  }
  .gj-table-form--item-title-postfix {
    display: flex;
    align-items: center;
  }
  .gj-table-form--item-title-content {
    flex-grow: 1;
  }
  .gj-table-form--item-title-label {
    vertical-align: middle;
  }
}

.gj-table-form--item-trigger-node {
  font-size: 12px;
  min-width: 100px;
  color: #909399;
  text-align: center;
  user-select: none;
  cursor: pointer;
  .gj-table-form--item-trigger-icon {
    margin: 0 0.25em;
    transition: all 0.1s;
  }
}

.gj-table-form--item-valid {
  position: absolute;
  width: 100%;
  font-size: 12px;
  line-height: 1.2em;
  color: $gj-form-validate-error-color;
  background-color: $gj-form-validate-error-background-color;
  z-index: 1;
  opacity: 0;
  transform-origin: center top;
  transform: scaleY(0);
  transition: all 0.2s ease-in-out;
}

.gj-table-form {
  .gj-table-form--gather {
    display: inline-block;
  }
  .gj-table-form--item {
    display: none;
    padding: 0.5em 0.8em 0.5em 0;
    &.is--active {
      &:not(.is--hidden) {
        display: inline-block;
      }
    }
  }
}

.gj-table-form--item {
  &.is--colon {
    .gj-table-form--item-title-postfix {
      &:after {
        content: ":";
        font-weight: normal;
        margin-left: 0.2em;
      }
    }
  }
  &.is--asterisk {
    &.is--required {
      .gj-table-form--item-title-content {
        &:before {
          content: "*";
          color: $gj-form-validate-error-color;
          font-family: Verdana,Arial,Tahoma;
          margin-right: 0.2em;
          font-weight: normal;
          vertical-align: middle;
        }
      }
    }
  }
  &.is--span {
    .gj-table-default-input:not([type="submit"]):not([type="reset"]),
    .gj-table-default-textarea,
    .gj-table-default-select,
    .gj-table-input,
    .gj-table-textarea,
    .gj-table-select {
      width: 100%;
    }
  }
  &.is--error {
    .gj-table-input > .gj-table-input--inner,
    .gj-table-textarea > .gj-table-textarea--inner,
    .gj-table-select,
    .gj-table-select.is--active > .gj-table-input .gj-table-input--inner,
    .gj-table-default-input,
    .gj-table-default-textarea,
    .gj-table-default-select {
      border-color: $gj-form-validate-error-color;
    }
    .gj-table-input>.gj-table-input--inner,
    .gj-table-textarea>.gj-table-textarea--inner,
    .gj-table-default-input[type="text"],
    .gj-table-default-input[type="search"],
    .gj-table-default-textarea,
    .gj-table-default-select {
      &:focus {
        border-color: $gj-form-validate-error-color;
      }
    }
    .gj-table-form--item-valid {
      opacity: 1;
      transform: scaleY(1);
    }
  }
  .gj-table-form--item-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    .gj-table-form--item-title {
      flex-shrink: 0;
    }
    .gj-table-form--item-content {
      position: relative;
      flex-grow: 1;
    }
  }
  .gj-table-default-input,
  .gj-table-default-textarea,
  .gj-table-default-select {
    outline: 0;
    border: 1px solid $gj-input-border-color;
    border-radius: $gj-border-radius;
  }
  .gj-table-default-input,
  .gj-table-default-select {
    height: $gj-button-height-default;
  }
  .gj-table-default-input {
    padding: 0 0.8em;
  }
  .gj-table-default-textarea {
    padding: 0.3em 0.6em;
  }
  .gj-table-default-input[type="number"] {
    padding-right: 0.2em;
  }
  .gj-table-default-input[type="text"],
  .gj-table-default-input[type="search"] {
    padding: 0 1em;
  }
  .gj-table-default-input[type="text"],
  .gj-table-default-input[type="search"],
  .gj-table-default-textarea,
  .gj-table-default-select {
    color: $gj-font-color;
    &:focus {
      border: 1px solid $gj-primary-color;
    }
    &[disabled] {
      cursor: not-allowed;
      background-color: $gj-input-disabled-background-color;
    }
  }
  .gj-table-default-input[type="submit"],
  .gj-table-default-input[type="reset"] {
    line-height: $gj-button-height-default - 2px;
    background-color: #fff;
    cursor: pointer;
    &:hover {
      @extend %ButtonHover;
    }
    &:active {
      color: $gj-primary-color;
      border-color: $gj-primary-color;
    }
  }
  .gj-table-default-input {
    &[type="date"]::-webkit-inner-spin-button {
      margin-top: 6px;
    }
    &[type="date"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      height: 24px;
    }
    &::placeholder {
      color: $gj-input-placeholder-color;
    }
  }
  .gj-table-default-input[type="text"],
  .gj-table-default-input[type="search"],
  .gj-table-default-textarea,
  .gj-table-default-select {
    width: 180px;
  }
  .gj-table-default-textarea {
    resize: none;
    vertical-align: middle;
    &::placeholder {
      color: $gj-input-placeholder-color;
    }
  }
}

.gj-table-form {
  .gj-table-form--item-inner {
    min-height: $gj-form-item-min-height-default;
    & > .align--center {
      text-align: center;
    }
    & > .align--left {
      text-align: left;
    }
    & > .align--right {
      text-align: right;
    }
  }
  &.size--medium {
    font-size: $gj-font-size-medium;
    .gj-table-form--item-inner {
      min-height: $gj-form-item-min-height-medium;
    }
    .gj-table-default-input[type="submit"],
    .gj-table-default-input[type="reset"] {
      line-height: $gj-button-height-medium - 2px;
    }
    .gj-table-default-input,
    .gj-table-default-input,
    .gj-table-default-select {
      height: $gj-button-height-medium;
    }
  }
  &.size--small {
    font-size: $gj-font-size-small;
    .gj-table-form--item-inner {
      min-height: $gj-form-item-min-height-small;
    }
    .gj-table-default-input[type="submit"],
    .gj-table-default-input[type="reset"] {
      line-height: $gj-button-height-small - 2px;
    }
    .gj-table-default-input,
    .gj-table-default-input,
    .gj-table-default-select {
      height: $gj-button-height-small;
    }
  }
  &.size--mini {
    font-size: $gj-font-size-mini;
    .gj-table-form--item-inner {
      min-height: $gj-form-item-min-height-mini;
    }
    .gj-table-default-input[type="submit"],
    .gj-table-default-input[type="reset"] {
      line-height: $gj-button-height-mini - 2px;
    }
    .gj-table-default-input,
    .gj-table-default-input,
    .gj-table-default-select {
      height: $gj-button-height-mini;
    }
  }
}
