/**Variable**/

.gj-table {
  .gj-table--header-wrapper {
    color: $gj-table-header-font-color;
    .gj-table--header-border-line {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 0;
      border-bottom: 0.5px   solid  $gj-table-border-color;
    }
  }
  /*排序*/
  .gj-cell--sort {
    width: 1.5em;
    height: 1.35em;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    position: relative;
  }
  .gj-sort--asc-btn,
  .gj-sort--desc-btn {
    position: absolute;
    left: 0.35em;
    color: $gj-table-column-icon-border-color;
    width: 1em;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: $gj-table-font-color;
    }
    &.sort--active {
      color: $--color-text-primary;
    }
  }
  .gj-sort--asc-btn {
    top: -0.25em;
  }
  .gj-sort--desc-btn {
    bottom: -0.15em;
  }
  .is--sortable:hover{
      background: $--color-neutral-hover;
  }
}
.gj-table{
  .gj-header--column:last-child{
    .gj-resizable{
      display: none;
    }
  }
}
.gj-header--column {
  position: relative;
  font-weight: $gj-table-header-font-weight;
  // user-select: none;
  &.col--ellipsis {
    & > .gj-cell {
      display: flex;
      align-items: center;
      .gj-cell--title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      & > i,
      & > span {
        &:not(.gj-cell--title) {
          flex-shrink: 0;
        }
      }
    }
  }
  .gj-cell--required-icon {
    display: inline-block;
    color: $gj-table-validate-error-color;
    width: 0.8em;
    height: 1em;
    line-height: 1em;
    font-family: $gj-icon-font-family;
    font-weight: normal;
    position: relative;
    &:before {
      content: "*";
      position: absolute;
      left: 0;
      top: 0.2em;
    }
  }
  // .gj-cell--required-icon,
  // .gj-cell--edit-icon,
  // .gj-cell-help-icon,
  // .gj-cell--title {
  //   vertical-align: middle;
  // }
  .gj-cell--required-icon {
    margin-right: 0.1em;
  }
  .gj-cell--edit-icon,
  .gj-cell-help-icon {
    margin-right: 0.2em;
  }
  .gj-cell-help-icon {
    cursor: help;
    vertical-align: text-bottom;
  }
  .gj-resizable {
    position: absolute;
    right: -7px;
    bottom: 0;
    width: 14px;
    height: 100%;
    text-align: center;
    z-index: 1;
    cursor: col-resize;
    &.is--line {
      &:before,
      &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
      }
      &:before {
        width: 1px;
        height: 50%;
        background: $gj-table-resizable-line-color;
      }
      &:after {
        width: 0;
        height: 100%;
      }
    }

  }
}

.gj-table--fixed-right-wrapper {
  .gj-header--column {
    .gj-resizable {
      right: auto;
      left: -7px;
    }
  }
}
