/**Variable**/
@import './helpers/mixin.scss';
@import './base/checked.scss';
@import './base/common.scss';
@import './base/loading.scss';

%DefaultColumnHeight {
  height: $gj-table-row-height-default;
}

%MediumColumnHeight {
  height: $gj-table-row-height-medium;
}

%SmallColumnHeight {
  height: $gj-table-row-height-small;
}

%MiniColumnHeight {
  height: $gj-table-row-height-mini;
}

.gj-table-slots,
.gj-table--file-form {
  display: none;
}

.gj-table--print-frame {
  position: fixed;
  bottom: -100%;
  left: -100%;
  height: 0;
  width: 0;
  border: 0;
}

.gj-table--body-wrapper {
  scroll-behavior: auto;
}
.gj-table--body-wrapper,
.gj-table--fixed-left-body-wrapper,
.gj-table--fixed-right-body-wrapper {
  overflow-y: auto;
  overflow-x: auto;
}

/*默认的渲染*/
.gj-cell,
.gj-table--filter-wrapper {
  .gj-default-input,
  .gj-default-textarea {
    background-color: $gj-table-body-background-color;
  }
  .gj-default-input,
  .gj-default-textarea,
  .gj-default-select {
    outline: 0;
    padding: 0 2px;
    width: 100%;
    color: $gj-table-font-color;
    border-radius: $gj-border-radius;
    border: 1px solid $gj-input-border-color;
    &:focus {
      border: 1px solid $gj-primary-color;
    }
    &[disabled] {
      cursor: not-allowed;
      background-color: $gj-input-disabled-background-color;
    }
  }
  .gj-default-input,
  .gj-default-textarea,
  .gj-default-select {
    height: $gj-input-height-default;
  }
  .gj-default-input {
    &[type="date"]::-webkit-inner-spin-button {
      margin-top: 4px;
    }
    &[type="date"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      height: 24px;
    }
    &::placeholder {
      color: $gj-input-placeholder-color;
    }
  }
  .gj-default-textarea {
    resize: none;
    vertical-align: middle;
  }
  .gj-input,
  .gj-textarea,
  .gj-select {
    width: 100%;
    display: block;
  }
  .gj-input > .gj-input--inner,
  .gj-textarea > .gj-textarea--inner {
    padding: 0 2px;
  }
  .gj-textarea--inner,
  .gj-default-textarea {
    resize: none;
  }
}

.gj-table--checkbox-range,
.gj-table--cell-main-area,
.gj-table--cell-extend-area,
.gj-table--cell-active-area,
.gj-table--cell-copy-area {
  display: none;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.gj-table--fixed-left-wrapper,
.gj-table--fixed-right-wrapper {
  .gj-table--checkbox-range,
  .gj-table--cell-main-area,
  .gj-table--cell-extend-area,
  .gj-table--cell-active-area,
  .gj-table--cell-copy-area {
    z-index: 2;
  }
}

.gj-table--fixed-left-wrapper {
  .gj-table--cell-main-area,
  .gj-table--cell-extend-area,
  .gj-table--cell-active-area {
    &[half="1"] {
      border-right: 0;
    }
  }
  .gj-table--cell-copy-area {
    &[half="1"] {
      background-size: $gj-table-cell-copy-area-border-width 12px, 0 12px, 12px $gj-table-cell-copy-area-border-width, 12px $gj-table-cell-copy-area-border-width;
    }
  }
}

.gj-table--fixed-right-wrapper {
  .gj-table--cell-main-area,
  .gj-table--cell-extend-area,
  .gj-table--cell-active-area {
    &[half="1"] {
      border-left: 0;
    }
  }
  .gj-table--cell-copy-area {
    &[half="1"] {
      background-size: 0 12px, $gj-table-cell-copy-area-border-width 12px, 12px $gj-table-cell-copy-area-border-width, 12px $gj-table-cell-copy-area-border-width;
    }
  }
}

/*复选框-范围选择*/
.gj-table--checkbox-range {
  background-color: $gj-table-checkbox-range-background-color;
  border: $gj-table-checkbox-range-border-width solid $gj-table-checkbox-range-border-color;
}

.gj-table--cell-area {
  height: 0;
  font-size: 0;
  display: none;
  & > .gj-table--cell-main-area {
    background-color: $gj-table-cell-area-background-color;
    border: $gj-table-cell-area-border-width solid $gj-table-cell-area-border-color;
  }
  .gj-table--cell-main-area-btn {
    display: none;
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 7px;
    height: 7px;
    border-style: solid;
    border-color: $gj-table-cell-main-area-extension-border-color;
    border-width: 1px 0 0 1px;
    background-color: $gj-table-cell-main-area-extension-background-color;
    pointer-events: auto;
    cursor: crosshair;
  }
  .gj-table--cell-extend-area {
    border: $gj-table-cell-extend-area-border-width solid $gj-table-cell-extend-area-border-color;
  }
}

@keyframes moveCopyCellBorder {
  from {
  }
  to {
    background-position: 0 -12px, 100% 12px, 12px 0, -12px 100%;
  }
}

.gj-table--cell-copy-area {
  background: linear-gradient(0deg, transparent 6px, $gj-table-cell-copy-area-border-color 6px) repeat-y,
              linear-gradient(0deg, transparent 50%, $gj-table-cell-copy-area-border-color 0) repeat-y,
              linear-gradient(90deg, transparent 50%, $gj-table-cell-copy-area-border-color 0) repeat-x,
              linear-gradient(90deg, transparent 50%, $gj-table-cell-copy-area-border-color 0) repeat-x;
  background-size: $gj-table-cell-copy-area-border-width 12px, $gj-table-cell-copy-area-border-width 12px, 12px $gj-table-cell-copy-area-border-width, 12px $gj-table-cell-copy-area-border-width;
  background-position: 0 0, 100% 0, 0 0, 0 100%;
  animation: moveCopyCellBorder .5s infinite linear;
}

.gj-table--cell-active-area {
  border: $gj-table-cell-active-area-border-width solid $gj-table-cell-active-area-border-color;
}

.gj-table--cell-multi-area {
  & > .gj-table--cell-main-area {
    background-color: $gj-table-cell-area-background-color;
  }
}

/*圆角*/
@if $gj-table-border-radius {
  .gj-table--render-default {
    &.is--round {
      %AllRadius {
        border-radius: $gj-table-border-radius;
      }
      %TopRadius {
        border-radius: $gj-table-border-radius $gj-table-border-radius 0 0;
      }
      %TopLeftRadius {
        border-radius: $gj-table-border-radius 0 0 0;
      }
      %TopRightRadius {
        border-radius: 0 $gj-table-border-radius 0 0;
      }
      %BottomRadius {
        border-radius: 0 0 $gj-table-border-radius $gj-table-border-radius;
      }
      %BottomLeftRadius {
        border-radius: 0 0 0 $gj-table-border-radius;
      }
      %BottomRightRadius {
        border-radius: 0 0 $gj-table-border-radius 0;
      }
      @extend %AllRadius;
      .gj-table--border-line {
        @extend %AllRadius;
      }
      &.is--header {
        &:not(.is--footer) {
          .gj-table--body-wrapper {
            &.fixed-left--wrapper {
              @extend %BottomLeftRadius;
            }
            &.body--wrapper {
              @extend %BottomRadius;
            }
            &.fixed-right--wrapper {
              @extend %BottomRightRadius;
            }
          }
        }
        .gj-table--header-wrapper {
          &.fixed-left--wrapper {
            @extend %TopLeftRadius;
          }
          &.body--wrapper {
            @extend %TopRadius;
          }
          &.fixed-right--wrapper {
            @extend %TopRightRadius;
          }
        }
      }
      &:not(.is--header) {
        &:not(.is--footer) {
          .gj-table--body-wrapper {
            &.body--wrapper {
              @extend %AllRadius;
            }
          }
        }
      }
      &.is--footer {
        &:not(.is--header) {
          .gj-table--body-wrapper {
            &.fixed-left--wrapper {
              @extend %BottomLeftRadius;
            }
            &.body--wrapper {
              @extend %TopRadius;
            }
            &.fixed-right--wrapper {
              @extend %BottomRightRadius;
            }
          }
        }
        .gj-table--footer-wrapper {
          &.fixed-left--wrapper {
            @extend %BottomLeftRadius;
          }
          &.body--wrapper {
            @extend %BottomRadius;
          }
          &.fixed-right--wrapper {
            @extend %BottomRightRadius;
          }
        }
      }
    }
  }
}

/*table*/
.gj-table--render-default {
  position: relative;
  font-size: $gj-font-size;
  color: $gj-table-font-color;
  font-family: $gj-font-family;
  direction: ltr;
  .gj-table--body-wrapper {
    background-color: $gj-table-body-background-color;
  }
  .gj-table--footer-wrapper {
    background-color: $gj-table-footer-background-color;
  }
  .gj-table--header,
  .gj-table--body,
  .gj-table--footer {
    border: 0;
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
  }
  .gj-table--header-wrapper,
  .gj-table--footer-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  &:not(.is--empty) {
    &.is--footer {
      &.is--scroll-x {
        .gj-table--body-wrapper {
          overflow-x: scroll;
        }
      }
    }
  }
  .gj-body--row {
    &.row--stripe {
      background-color: $gj-table-row-striped-background-color;
    }
    &.row--radio {
      background-color: $gj-table-row-radio-checked-background-color;
    }
    &.row--checked {
      background-color: $gj-table-row-checkbox-checked-background-color;
    }
    &.row--current {
      background-color: $gj-table-row-current-background-color;
    }
    &.row--hover {
      background-color: $gj-table-row-hover-background-color;
      &.row--stripe {
        background-color: $gj-table-row-hover-striped-background-color;
      }
      &.row--radio {
        background-color: $gj-table-row-hover-radio-checked-background-color;
      }
      &.row--checked {
        background-color: $gj-table-row-hover-checkbox-checked-background-color;
      }
      &.row--current {
        background-color: $gj-table-row-hover-current-background-color;
      }
    }
  }
  // &.is--tree-line {
  //   .gj-body--row {
  //     &.row--stripe {
  //       .gj-tree--btn-wrapper {
  //         background-color: $gj-table-row-striped-background-color;
  //       }
  //     }
  //     &.row--radio {
  //       .gj-tree--btn-wrapper {
  //         background-color: $gj-table-row-radio-checked-background-color;
  //       }
  //     }
  //     &.row--checked {
  //       .gj-tree--btn-wrapper {
  //         background-color: $gj-table-row-checkbox-checked-background-color;
  //       }
  //     }
  //     &.row--current {
  //       .gj-tree--btn-wrapper {
  //         background-color: $gj-table-row-current-background-color;
  //       }
  //     }
  //     &.row--hover {
  //       .gj-tree--btn-wrapper {
  //         background-color: $gj-table-row-hover-background-color;
  //       }
  //       &.row--stripe {
  //         .gj-tree--btn-wrapper {
  //           background-color: $gj-table-row-hover-striped-background-color;
  //         }
  //       }
  //       &.row--radio {
  //         .gj-tree--btn-wrapper {
  //           background-color: $gj-table-row-hover-radio-checked-background-color;
  //         }
  //       }
  //       &.row--checked {
  //         .gj-tree--btn-wrapper {
  //           background-color: $gj-table-row-hover-checkbox-checked-background-color;
  //         }
  //       }
  //       &.row--current {
  //         .gj-tree--btn-wrapper {
  //           background-color: $gj-table-row-hover-current-background-color;
  //         }
  //       }
  //     }
  //   }
  // }
  &.drag--resize {
    .gj-table--main-wrapper,
    .gj-table--fixed-left-wrapper,
    .gj-table--fixed-right-wrapper {
      * {
        cursor: col-resize;
      }
    }
  }
  &.drag--range,
  &.drag--area {
    .gj-table--main-wrapper,
    .gj-table--fixed-left-wrapper,
    .gj-table--fixed-right-wrapper {
      * {
        cursor: default;
      }
    }
  }
  &.drag--extend-range {
    .gj-table--main-wrapper,
    .gj-table--fixed-left-wrapper,
    .gj-table--fixed-right-wrapper {
      * {
        cursor: crosshair;
      }
    }
  }
  &.column--highlight {
    .gj-header--column {
      &:not(.col--seq) {
        &:hover {
          background-color: $gj-table-head-row-hover-background-color;
        }
      }
    }
  }
  &.cell--area {
    .gj-table--main-wrapper {
      user-select: none;
    }
  }
  .gj-header--column,
  .gj-body--column,
  .gj-footer--column {
    position: relative;
    line-height: $gj-table-row-line-height;
    text-align: left;
    &:not(.col--ellipsis) {
      padding: $gj-table-column-padding-default;
    }
    &.col--current {
      background-color: $gj-table-column-current-background-color;
      // .gj-tree--btn-wrapper {
      //   background-color: $gj-table-column-current-background-color;
      // }
    }
    &.col--center {
      text-align: center;
    }
    &.col--right {
      text-align: right;
    }
  }
  // &.is--tree-line {
  //   .gj-header--column,
  //   .gj-body--column,
  //   .gj-footer--column {
  //     &.col--current {
  //       .gj-tree--btn-wrapper {
  //         background-color: $gj-table-column-current-background-color;
  //       }
  //     }
  //   }
  // }
  .gj-header--column,
  .gj-footer--column {
    &.col--ellipsis {
      &.col--center {
        .gj-cell{
          justify-content: center;
        }
      }
      &.col--right {
        .gj-cell{
          justify-content: flex-end;
        }
      }
    }
  }
  .gj-body--column {
    &.col--checkbox {
      user-select: none;
    }
  }

  /*边框*/
  .gj-table--footer-wrapper {
    border-top: $gj-table-border-width solid $gj-table-border-color;
  }
  &.border--default,
  &.border--full,
  &.border--outer,
  &.border--inner,
  &.border--none{
    .gj-table--header-wrapper {
      background-color: $gj-table-header-background-color;
    }
  }
  &.border--default,
  &.border--inner {
    .gj-header--column,
    .gj-body--column,
    .gj-footer--column {
      background-image: linear-gradient($gj-table-border-color, $gj-table-border-color);
      background-repeat: no-repeat;
      background-size: 100% $gj-table-border-width;
      background-position: right bottom;
    }
  }
  &.border--full {
    .gj-header--column,
    .gj-body--column,
    .gj-footer--column {
      background-image: linear-gradient($gj-table-border-color, $gj-table-border-color), linear-gradient($gj-table-border-color, $gj-table-border-color);
      background-repeat: no-repeat;
      background-size: $gj-table-border-width 100%, 100% $gj-table-border-width;
      background-position: 0 top, right bottom;
    }
    .gj-table--fixed-left-wrapper {
      // border-right: $gj-table-border-width solid $gj-table-border-color;
      .gj-body--column{
        border-right-color: $gj-table-border-color;
      }
    }
  }
  &.border--default,
  &.border--full,
  &.border--outer,
  &.border--inner {
    .gj-table--header-wrapper {
      .gj-header--row {
        &:last-child {
          .gj-header--gutter {
            background-image: linear-gradient($gj-table-border-color, $gj-table-border-color);
            background-repeat: no-repeat;
            background-size: 100% $gj-table-border-width;
            background-position: right bottom;
          }
        }
      }
    }
  }
  &.border--inner,
  &.border--none {

    .gj-table--fixed-left-wrapper {
      border-right: 0;
    }
  }
  &.border--inner {
    .gj-table--border-line {
      border-width: 0 0 1px 0;
    }
  }
  &.border--none {
    .gj-header--column,
    .gj-body--column,
    .gj-footer--column {
      background-image: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent);
      background-repeat: no-repeat;
      background-size: $gj-table-border-width 100%, 100% $gj-table-border-width;
      background-position: right top, right bottom;
    }
    .gj-table--fixed-left-wrapper {
      // border-right: $gj-table-border-width solid $gj-table-border-color;
      .gj-body--column{
        border-right-color: transparent;
      }
    }

    /*.gj-table--border-line {
      display: block;
    }
    .gj-table--header-border-line {
      display: block;
    }
    .gj-table--footer-wrapper {
      border-top: 0;
    }*/
    .gj-table--header-wrapper {
      .gj-header--row {
        &:last-child {
          .gj-header--gutter {
            background-image: linear-gradient(transparent, transparent);
            background-repeat: no-repeat;
            background-size: 100% $gj-table-border-width;
            background-position: right bottom;
          }
        }
      }
    }
    .gj-table--border-line {
      border-width: 0 0 1px 0;
    }
  }

  &.size--medium {
    font-size: $gj-font-size-medium;
    .gj-table--empty-placeholder,
    .gj-table--empty-block {
      min-height: $gj-table-row-height-medium;
    }
    .gj-header--column,
    .gj-body--column,
    .gj-footer--column {
      &:not(.col--ellipsis) {
        padding: $gj-table-column-padding-medium;
      }
    }
    .gj-cell {
      .gj-default-input,
      .gj-default-textarea,
      .gj-default-select {
        height: $gj-input-height-medium;
      }
      .gj-default-input {
        &[type="date"]::-webkit-inner-spin-button {
          margin-top: 3px;
        }
      }
    }
  }
  &.size--small {
    font-size: $gj-font-size-small;
    .gj-table--empty-placeholder,
    .gj-table--empty-block {
      min-height: $gj-table-row-height-small;
    }
    .gj-header--column,
    .gj-body--column,
    .gj-footer--column {
      &:not(.col--ellipsis) {
        padding: $gj-table-column-padding-small;
      }
    }
    .gj-cell {
      .gj-default-input,
      .gj-default-textarea,
      .gj-default-select {
        height: $gj-input-height-small;
      }
      .gj-default-input {
        &[type="date"]::-webkit-inner-spin-button {
          margin-top: 2px;
        }
      }
    }
  }
  &.size--mini {
    font-size: $gj-font-size-mini;
    .gj-table--empty-placeholder,
    .gj-table--empty-block {
      min-height: $gj-table-row-height-mini;
    }
    .gj-header--column,
    .gj-body--column,
    .gj-footer--column {
      &:not(.col--ellipsis) {
        padding: $gj-table-column-padding-mini;
      }
    }
    .gj-cell {
      .gj-default-input,
      .gj-default-textarea,
      .gj-default-select {
        height: $gj-input-height-mini;
      }
      .gj-default-input {
        &[type="date"]::-webkit-inner-spin-button {
          margin-top: 1px;
        }
      }
    }
  }
  .gj-cell {
    white-space: pre-line;
    word-break: break-all;
    padding-left: $gj-table-cell-padding-left;
    padding-right: $gj-table-cell-padding-right;
  }

  // 单元格占位符
  .gj-cell--placeholder {
    color: $gj-table-cell-placeholder-color;
  }

  // 单选框和复选框
  .gj-cell--radio {
    @extend %XERadio;
  }
  .gj-cell--checkbox {
    @extend %XECheckbox;
  }
  .gj-cell--radio .gj-radio--icon,
  .gj-cell--checkbox .gj-checkbox--icon {
    left: 0;
    top: 0.1em;
  }
  .gj-cell--radio .gj-radio--label,
  .gj-cell--checkbox .gj-checkbox--label {
    padding-left: 0.5em;
  }
  .gj-cell--radio,
  .gj-cell--checkbox {
    padding-left: 1.2em;
  }

  .fixed--hidden {
    visibility: hidden;
  }
  .gj-table--fixed-left-wrapper,
  .gj-table--fixed-right-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
    overflow: hidden;
    background-color: inherit;
    transition: 0.3s box-shadow;
    .gj-table--body-wrapper {
      overflow-x: hidden;
    }
  }
  .gj-table--fixed-left-wrapper {
    .gj-table--body-wrapper {
      width: calc(100% + 40px);
    }
  }
  &.is--header {
    .gj-table--fixed-left-wrapper,
    .gj-table--fixed-right-wrapper {
      .gj-table--body-wrapper {
        &:before {
          display: none;
        }
      }
   }
  }
  .gj-table--fixed-left-wrapper {
    left: 0;
    width: 200px;
    &.scrolling--middle {
      box-shadow: $gj-table-fixed-left-scrolling-box-shadow;
    }
  }
  .gj-table--fixed-right-wrapper {
    right: 0;
    &.scrolling--middle {
      box-shadow: $--table-fixed-box-shadow-right;
    }
  }
  .gj-table--header-wrapper,
  .gj-table--body-wrapper,
  .gj-table--footer-wrapper {
    position: relative;
    &.fixed-left--wrapper,
    &.fixed-right--wrapper {
      position: absolute;
      top: 0;
    }
    &.fixed-left--wrapper {
      left: 0;
    }
    &.fixed-right--wrapper {
      right: 0;
      overflow-y: auto;
    }
  }
  .gj-body--x-space {
    width: 100%;
    height: 1px;
    margin-bottom: -1px;
  }
  .gj-body--y-space {
    width: 0;
    float: left;
  }

  /*列宽线*/
  .gj-table--resizable-bar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    z-index: 9;
    cursor: col-resize;
    &:before {
      content: "";
      display: block;
      height: 100%;
      background-color: $gj-table-resizable-drag-line-color;
    }
  }

  /*边框线*/
  .gj-table--border-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    border: $gj-table-border-width solid $gj-table-border-color;
  }

  /*树形节点*/
  &.is--tree-line {
    .gj-body--row {
      &:first-child {
        .gj-tree--line {
          border-width: 0 0 1px 0;
        }
      }
    }
    .gj-body--row {
      .gj-body--column {
        background-image: none;
      }
    }
  }
  .gj-tree--line-wrapper {
    position: relative;
    display: block;
    height: 0;
  }
  .gj-tree--line {
    content: "";
    position: absolute;
    bottom: -0.9em;
    width: 0.8em;
    border-width: 0 0 1px 1px;
    border-style: $gj-table-tree-node-line-style;
    border-color: $gj-table-tree-node-line-color;
    pointer-events: none;
  }
  .gj-cell--tree-node {
    position: relative;
  }
  .gj-tree--btn-wrapper {
    position: absolute;
    top: 50%;
    width: 1.33em;
    height: 1.33em;
    text-align: center;
    transform: translateY(-50%);
    z-index: 1;
    user-select: none;
    cursor: pointer;
  }
  .gj-tree--node-btn {
    display: block;
    color: $gj-table-column-icon-border-color;
    &:hover {
      color: $gj-table-column-icon-border-hover-color;
    }
  }
  .gj-tree-cell {
    display: block;
    padding-left: 2.167em;
  }
  .gj-body--column {
    &.col--ellipsis {
      & > .gj-cell {
        .gj-tree-cell {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  /*展开行*/
  .gj-table--expanded {
    cursor: pointer;
    .gj-table--expand-btn {
      width: 1em;
      height: 1em;
      text-align: center;
      user-select: none;
      color: $gj-table-font-color;
      &:hover {
        color: $gj-table-font-color;
      }
    }
    &+.gj-table--expand-label {
      padding-left: 0.5em;
    }
  }
  .gj-body--expanded-column {
    border-bottom: $gj-table-border-width solid $gj-table-border-color;
    &.col--ellipsis {
      & > .gj-body--expanded-cell {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .gj-body--expanded-cell {
    position: relative;
    z-index: 1;
  }

  /*设置列高度*/
  &.gj-editable {
    .gj-body--column {
      @extend %DefaultColumnHeight;
    }
    &.size--medium {
      .gj-body--column {
        @extend %MediumColumnHeight;
      }
    }
    &.size--small {
      .gj-body--column {
        @extend %SmallColumnHeight;
      }
    }
    &.size--mini {
      .gj-body--column {
        @extend %MiniColumnHeight;
      }
    }
  }

  /*溢出列*/
  .gj-header--column,
  .gj-body--column,
  .gj-footer--column {
    &.col--ellipsis {
      @extend %DefaultColumnHeight;
      &:not(.col--actived) {
        & > .gj-cell {
          @extend %TextEllipsis;
        }
      }
      & > .gj-cell {
        max-height: $gj-table-row-height-default;
      }
    }
  }
  &.size--medium {
    .gj-header--column,
    .gj-body--column,
    .gj-footer--column {
      &.col--ellipsis {
        @extend %MediumColumnHeight;
        & > .gj-cell {
          max-height: $gj-table-row-height-medium;
        }
      }
    }
    .gj-cell--checkbox .gj-checkbox--icon {
      font-size: $gj-checkbox-font-size-medium;
    }
    .gj-cell--radio .gj-radio--icon {
      font-size: $gj-radio-font-size-medium;
    }
  }
  &.size--small {
    .gj-header--column,
    .gj-body--column,
    .gj-footer--column {
      &.col--ellipsis {
        @extend %SmallColumnHeight;
        & > .gj-cell {
          max-height: $gj-table-row-height-small;
        }
      }
    }
    .gj-cell--checkbox .gj-checkbox--icon {
      font-size: $gj-checkbox-font-size-small;
    }
    .gj-cell--radio .gj-radio--icon {
      font-size: $gj-radio-font-size-small;
    }
  }
  &.size--mini {
    .gj-header--column,
    .gj-body--column,
    .gj-footer--column {
      &.col--ellipsis {
        @extend %MiniColumnHeight;
        & > .gj-cell {
          max-height: $gj-table-row-height-mini;
        }
      }
    }
    .gj-cell--checkbox .gj-checkbox--icon {
      font-size: $gj-checkbox-font-size-mini;
    }
    .gj-cell--radio .gj-radio--icon {
      font-size: $gj-radio-font-size-mini;
    }
  }

  /*暂无数据*/
  .gj-table--empty-placeholder,
  .gj-table--empty-block {
    min-height: 68px;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 100%;
    pointer-events: none;
   color: $--color-text-placeholder;
  }
  .gj-table--empty-block {
    display: none;
    visibility: hidden;
  }
  .gj-table--empty-placeholder {
    display: none;
    position: absolute;
    top: 0;
    z-index: 5;
  }
  .gj-table--empty-content {
    display: block;
    width: 50%;
    pointer-events: auto;
  }
  &.is--empty {
    .gj-table--empty-block,
    .gj-table--empty-placeholder {
      display: flex;
    }
  }

  .gj-body--column {
    &.col--selected {
      box-shadow: inset 0px 0px 0px 2px $gj-primary-color;
    }
  }

  /*校验不通过*/
  .gj-body--column {
    &.col--actived,
    &.col--selected {
      position: relative;
    }
    &.col--valid-error {
      .gj-cell--valid {
        width: 320px;
        position: absolute;
        bottom: calc(100% + 4px);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        pointer-events: none;
        z-index: 4;
        .gj-cell--valid-msg {
          display: inline-block;
          border-radius: $gj-border-radius;
          padding: 8px 12px;
          color: $gj-table-validate-tooltip-error-color;
          background-color: $gj-table-validate-tooltip-error-background-color;
          pointer-events: auto;
        }
      }
      .gj-default-input,
      .gj-default-textarea,
      .gj-default-select {
        border-color: $gj-table-validate-error-color;
      }
      .gj-input {
        > .gj-input--inner {
          border-color: $gj-table-validate-error-color;
        }
      }

    }
  }
  .gj-body--row {
    &:first-child {
      .gj-cell--valid {
        bottom: auto;
        top: calc(100% + 4px);
      }
    }
  }
  .gj-body--column {
    &:first-child {
      .gj-cell--valid {
        left: 10px;
        transform: translateX(0);
        text-align: left;
      }
    }
  }

  /*单元格编辑状态*/
  .gj-body--row {
    &.row--new {
      & > .gj-body--column {
        position: relative;
        &:before {
          content: "";
          top: -$gj-table-cell-dirty-width;
          left: -$gj-table-cell-dirty-width;
          position: absolute;
          border-width: $gj-table-cell-dirty-width;
          border-style: solid;
          border-color: transparent $gj-table-cell-dirty-insert-color transparent transparent;
          transform: rotate(45deg);
        }
      }
    }
  }
  .gj-body--column {
    &.col--dirty {
      position: relative;
      &:before {
        content: "";
        top: -$gj-table-cell-dirty-width;
        left: -$gj-table-cell-dirty-width;
        position: absolute;
        border-width: $gj-table-cell-dirty-width;
        border-style: solid;
        border-color: transparent $gj-table-cell-dirty-update-color transparent transparent;
        transform: rotate(45deg);
      }
    }
  }

  /*可编辑*/
  &.gj-editable {
    &.cell--highlight {
      .gj-body--column {
        &.col--actived {
          box-shadow: inset 0px 0px 0px 2px $gj-primary-color;
          &.col--valid-error {
            box-shadow: inset 0px 0px 0px 2px $gj-table-validate-error-color;
          }
          .gj-cell {
            .gj-default-input,
            .gj-default-textarea {
              border: 0;
              padding: 0;
            }
            .gj-default-input {
              height: $gj-table-row-line-height;
            }
            .gj-input {
              .gj-input--inner {
                border: 0;
                padding-left: 0;
              }
            }
            .gj-textarea {
              height: $gj-table-row-line-height - 1;
              .gj-textarea--inner {
                border: 0;
              }
            }
          }
        }
      }
    }
    .gj-body--column {
      padding: 0;
      &.col--actived {
        padding: 0;
      }
    }
  }
}
