/**Variable**/

.gj-table-textarea {
  position: relative;
  display: inline-block;
  &:not(.def--cols) {
    width: 100%;
    .gj-table-textarea--inner {
      width: 100%;
    }
  }
}

.gj-table-textarea--inner {
  border-radius: $gj-border-radius;
  outline: 0;
  font-size: inherit;
  padding: 0 0.6em;
  color: $gj-font-color;
  line-height: inherit;
  border: 1px solid $gj-input-border-color;
  background-color: $gj-textarea-background-color;
  display: block;
  padding: 0.3em 0.6em;
  &::placeholder {
    color: $gj-input-placeholder-color;
  }
  &:focus {
    border: 1px solid $gj-primary-color;
  }
  &[disabled] {
    cursor: not-allowed;
    background-color: $gj-input-disabled-background-color;
  }
}

.gj-table-textarea--inner,
.gj-table-textarea--autosize {
  line-height: $gj-textarea-line-height;
  color: $gj-font-color;
  font-family: $gj-font-family;
}

.gj-table-textarea--autosize {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0.3em 0.6em;
  word-wrap: break-word;
  white-space: pre-wrap;
  z-index: -1;
  visibility: hidden;
}

.gj-table-textarea--count {
  position: absolute;
  bottom: 0.2em;
  right: 1.4em;
  padding-left: 0.2em;
  color: $gj-textarea-count-color;
  background-color: $gj-textarea-count-background-color;
  &.is--error {
    color: $gj-textarea-count-error-color;
  }
}

.gj-table-textarea,
.gj-table-textarea--autosize {
  font-size: $gj-font-size;
  &.size--medium {
    font-size: $gj-font-size-medium;
  }
  &.size--small {
    font-size: $gj-font-size-small;
  }
  &.size--mini {
    font-size: $gj-font-size-mini;
  }
}

.gj-table-textarea {
  &:not(.is--autosize) {
    min-height: $gj-input-height-default;
  }
  &.size--medium {
    font-size: $gj-font-size-medium;
    &:not(.is--autosize) {
      min-height: $gj-input-height-medium;
    }
  }
  &.size--small {
    &:not(.is--autosize) {
      min-height: $gj-input-height-small;
    }
  }
  &.size--mini {
    &:not(.is--autosize) {
      min-height: $gj-input-height-mini;
    }
  }
}
