/**Variable**/
@import './base/checked.scss';

/*toolbar*/
.gj-table-toolbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $gj-font-color;
  font-family: $gj-font-family;
  background-color: $gj-toolbar-background-color;
  &:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  &.is--perfect {
    border: 1px solid $gj-table-border-color;
    border-bottom-width: 0;
    background-color: $gj-table-header-background-color;
  }
  &.is--loading {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: $gj-loading-z-index;
      user-select: none;
      background-color: $gj-loading-background-color;
    }
  }
  .gj-table-buttons--wrapper {
    flex-grow: 1;
    & > .gj-table-button+.gj-table-button--item,
    & > .gj-table-button--item+.gj-table-button,
    & > .gj-table-button--item+.gj-table-button--item {
      margin-left: 0.8em;
    }
    & > .gj-table-button--item {
      display: inline-block;
    }
  }
  .gj-table-tools--wrapper {
    & > .gj-table-button+.gj-table-tool--item,
    & > .gj-table-tool--item+.gj-table-button,
    & > .gj-table-tool--item+.gj-table-tool--item {
      margin-left: 0.8em;
    }
    & > .gj-table-tool--item {
      display: inline-block;
    }
  }
  .gj-table-tools--wrapper {
    & > .gj-table-button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .gj-table-tools--wrapper,
  .gj-table-tools--operate {
    display: flex;
    flex-shrink: 0;
    align-items: center;
  }
  .gj-table-custom--wrapper {
    position: relative;
    margin-left: 0.8em;
    &.is--active {
      & > .gj-table-button {
        background-color: $gj-toolbar-custom-active-background-color;
        border-radius: 50%;
      }
      .gj-table-custom--option-wrapper {
        display: block;
      }
    }
  }
  .gj-table-custom--option-wrapper {
    display: none;
    position: absolute;
    right: 2px;
    text-align: left;
    background-color: $gj-toolbar-panel-background-color;
    z-index: 19;
    border: 1px solid $gj-table-border-color;
    border-radius: $gj-border-radius;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    .gj-table-custom--header {
      padding: 0.28em 0;
      font-weight: 500;
      border-bottom: 1px solid $gj-table-popup-border-color;
    }
    .gj-table-custom--body {
      padding: 0.2em 0;
      max-height: 17.6em;
      .gj-table-custom--option {
        &:hover {
          background-color: $gj-table-row-hover-background-color;
        }
      }
    }
    .gj-table-custom--header,
    .gj-table-custom--body {
      & > li {
        max-width: 16em;
        min-width: 12.5em;
        padding: 0.2em 1em 0.2em 2.3em;
        @for $i from 2 through 8 {
          $interval: $i - 1 + 0.2;
          &.level--#{$i}{
            padding-left: #{$interval + 2.3}em;
            .gj-table-checkbox--icon {
              left: #{$interval + 0.6}em;
            }
          }
        }
      }
    }
    .gj-table-custom--footer {
      border-top: 1px solid $gj-table-popup-border-color;
      text-align: right;
      button {
        background-color: transparent;
        width: 50%;
        height: 2.5em;
        border: 0;
        color: $gj-font-color;
        text-align: center;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:hover {
          color: $gj-primary-color;
        }
      }
    }
  }
}

.gj-table-custom--option-wrapper .gj-table-custom--header,
.gj-table-custom--option-wrapper .gj-table-custom--body {
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  user-select: none;
  & > li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.gj-table-custom--option {
  @extend %XECheckbox;
  .gj-table-checkbox--icon {
    left: 0.6em;
    top: 0.38em;
  }
}

.gj-table-toolbar {
  font-size: $gj-font-size;
  height: $gj-toolbar-height-default;
  .gj-table-custom--option {
    & > .gj-table-checkbox--icon {
      font-size: $gj-checkbox-font-size-default;
    }
  }
  &.size--medium {
    font-size: $gj-font-size-medium;
    height: $gj-toolbar-height-medium;
    .gj-table-custom--option {
      & > .gj-table-checkbox--icon {
        font-size: $gj-checkbox-font-size-medium;
      }
    }
  }
  &.size--small {
    font-size: $gj-font-size-small;
    height: $gj-toolbar-height-small;
    .gj-table-custom--option {
      & > .gj-table-checkbox--icon {
        font-size: $gj-checkbox-font-size-small;
      }
    }
  }
  &.size--mini {
    font-size: $gj-font-size-mini;
    height: $gj-toolbar-height-mini;
    .gj-table-custom--option {
      & > .gj-table-checkbox--icon {
        font-size: $gj-checkbox-font-size-mini;
      }
    }
  }
}
