@import '../common/var';
@import '../mixins/mixins';

@include b(date-table) {
  font-size: 12px;
  user-select: none;
  border-collapse: separate;
  border-spacing: 0 4px;

  @include when(week-mode) {
    .jy-date-table__row {
      &:hover {
        td:not(.week):not(.in-range) div {
          // background-color: #3D2F19 $--color-neutral-hover;
          background-color: $--datepicker-inrange-background-color;
        }
        // .week + td{
        //   div{
        //     border-top-left-radius: $--datepicker-cell-border-radius;
        //     border-bottom-left-radius: $--datepicker-cell-border-radius;
        //   }
        // }
        td:first-child div {
          border-top-left-radius: $--datepicker-cell-border-radius;
          border-bottom-left-radius: $--datepicker-cell-border-radius;
        }
        td:last-child div {
          border-top-right-radius: $--datepicker-cell-border-radius;
          border-bottom-right-radius: $--datepicker-cell-border-radius;
        }
        td div span:hover {
          background-color: transparent;
        }
      }

      &.current td:not(.week) div {
        background-color: $--datepicker-inrange-background-color;
      }
    }
    &-showweeknumber {
      .jy-date-table__row:hover {
        .week + td {
          div {
            border-top-left-radius: $--datepicker-cell-border-radius;
            border-bottom-left-radius: $--datepicker-cell-border-radius;
          }
        }
      }
    }
  }

  tbody tr {
    margin-bottom: 4px;
  }

  td {
    width: 32px;
    height: 28px;

    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    position: relative;

    & div {
      height: 28px;

      box-sizing: border-box;
    }

    & span {
      width: 22px;
      height: $--datepicker-cell-height;
      display: block;
      margin: 0 auto;
      line-height: $--datepicker-cell-height;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: $--datepicker-cell-border-radius;
      top: 50%;
      &:hover {
        background: $--color-neutral-hover;
      }
      &:focus {
        background: $--color-neutral-pressed;
      }
    }
    &.week,
    &.next-month,
    &.prev-month {
      color: $--color-text-disabled;
    }

    &.today {
      position: relative;
      span {
        color: $--color-primary;
        // font-weight: bold;
        border: 1px solid $--color-primary;
        height: 20px;
        width: 20px;
        line-height: 20px;
      }
      &.start-date span,
      &.end-date span {
        color: $--color-white;
      }
    }
    &.in-range div {
      background-color: $--datepicker-inrange-background-color;
      &:hover {
        // background-color: $--datepicker-inrange-hover-background-color;
        // background-color: transparent;
      }
    }
    &.in-range:not(.start-date):not(.end-date) span {
      &:hover {
        // background-color: $--datepicker-inrange-hover-background-color;
        background-color: transparent;
      }
    }

    &.current:not(.disabled) span {
      color: $--color-white;
      background-color: $--datepicker-active-color;
    }
    &.start-date div,
    &.end-date div {
      color: $--color-white;
    }

    &.start-date span,
    &.end-date span {
      background-color: $--datepicker-active-color;
    }

    &.start-date div {
      border-top-left-radius: $--datepicker-cell-border-radius;
      border-bottom-left-radius: $--datepicker-cell-border-radius;
    }

    &.end-date div {
      border-top-right-radius: $--datepicker-cell-border-radius;
      border-bottom-right-radius: $--datepicker-cell-border-radius;
    }
    // &.row-start  div {
    //   border-top-left-radius: $--datepicker-cell-border-radius;
    //   border-bottom-left-radius: $--datepicker-cell-border-radius;
    // }
    // &.row-end  div {
    //   border-top-right-radius: $--datepicker-cell-border-radius;
    //   border-bottom-right-radius: $--datepicker-cell-border-radius;
    // }

    &.disabled div {
      background-color: $--color-tip;
      opacity: 1;
      cursor: not-allowed;
      color: $--color-text-disabled;
      span {
        &:hover,
        &:focus {
          background: initial;
        }
      }
    }

    &.selected span {
      background-color: $--datepicker-active-color;
      color: $--color-white;
      border-radius: $--datepicker-cell-border-radius;
    }
  }

  th {
    color: $--datepicker-header-font-color;
    font-weight: 400;
    &.week-relax {
      color: $--color-text-disabled;
    }
  }
}
